# ---- base
numpy
Pillow
PyYAML
scipy
torch
torchvision
opencv-python
Cython
#tensorboard
#tqdm
#matplotlib


# -- backend
fastapi
python-multipart
uvicorn

# --- logging
# wandb

# --- plotting
# seaborn
# pandas

# --- export
# coremltools
# onnx
# scikit-learn # for coreml quantization

# --- extras
# thop  # FLOPS computation
# pycocotools>=2.0  # COCO mAP
